@{
  Layout = "_Layout";
}
@model Factory.Models.Machine;
<h1>Machine details</h1>
<br>

<h5><strong>@Html.DisplayName("Machine Name"):</strong> @Html.DisplayFor(model => model.MachineName)</h5>

<h5><strong>@Html.DisplayName("Description"):</strong> @Html.DisplayFor(model => model.MachineDescription)</h5>

<h5><strong>@Html.DisplayName("Install Date"):</strong> @Html.DisplayFor(model => model.MachineInstallDate)</h5>
<br>

@if(Model.Engineers.Count == 0)
{
  <p>This machine does not have any engineers currently assigned.</p>
}
else
{
  <h4><strong>Engineers that work on this machine:</strong></h4>
  <ul>
  <div class="row">
    
    @foreach(var join in Model.Engineers)
    {
      <div class="col-sm-2">
        <li class="joinLine">@Html.ActionLink($"{join.Engineer.EngineerName}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</li>
      </div>
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("MachineId", @join.MachineId)
        @Html.Hidden("joinId", @join.MachineEngineerId)
        <li class="joinLine"><input type="submit" value="Remove" class="btn btn-warning btn-xs" /></li>
      }
    }
  </div>
  </ul>
}
<br>
<div class="row">
  <div class="col-md-1">
    <p>@Html.ActionLink("Edit Machine", "Edit", null, new { id = Model.MachineId } , new {@class="btn btn-success btn-sm"})</p>
  </div>
  <div class="col-md-2">
    <p>@Html.ActionLink("Add a Engineer", "AddEngineer", "Machines", new { id = Model.MachineId } , new {@class="btn btn-success btn-sm"})</p>
  </div>
  <div class="col-md-2">
    <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId }, new {@class="btn btn-danger btn-sm"})</p>
    </div>
</div>
<br>
<p>@Html.ActionLink("See all Machines", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>
