@{
  Layout = "_Layout";
}
@using Factory.Models;
@model Factory.Models.Engineer
<br>
<div class="jumbotron">
  <h1>Welcome To Dr. Sillystringz's Factory Database</h1>
</div>
<div class="col-md-4">
  <br>
  @using (Html.BeginForm())
  {
    @* @Html.HiddenFor(model => model.EngineerId) *@
    @Html.Label("List of Engineers")
    @Html.DropDownList("EngineerId")
    @* <input type="submit" value="Go" class="btn btn-success btn-sm" /> *@
  }
</div>
<br>
<div class="col-md-5">
  @Html.Label("List of Machines")
  @Html.DropDownList("MachineId")
</div>

